:root {
  --navbar-height: 56px;
  --background-color: #fff;
  --foreground-color: #333;
  --border-color: #e7e7e7;
  --link-color: #333;
  --link-hover-color: #2979FF;
}

.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-bottom: 1px solid var(--border-color);
    font-family: inherit;

    @media only screen and (max-width: 768px) {
      height: auto;
    }

    & a {
      color: var(--link-color);
      transition: 0.3s ease-in color;

      &:hover,
      &:focus,
      &:active,
      &.active {
        color: var(--link-hover-color);
        text-decoration: none;
        transition: 0.3s ease-out color;
      }
    }

    & .navbar__wrapper {
      width: 70%;
      margin: 0 15%;
      height: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      @media only screen and (max-width: 768px) {
        width: 90%;
        margin: 0 5%;
        height: auto;

      }
    }

    & .navbar__brand {
      font-size: 0.8em;
      color: inherit !important;
      text-decoration: none !important;
    }

    & .navbar__nav {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
    }

    & .navbar__nav li {
      margin: 0 20px;

      & a {
        font-size: 0.8em;
        text-transform: uppercase;
      }
    }
}