:root {
  --background-color: #fff;
  --shadow-color: #e7e7e7;
  --category-background-color: #333;
  --category-foreground-color: #f8f8f8;
  --date-foreground-color: #444;
  --delete-button-color: #fd7e14;
  --delete-button-hover-color: #e8590c;
}

.news-article {
  background-color: var(--background-color);
  box-shadow: 0 0 2px 2px var(--shadow-color);
  border-radius: 3px;
  padding: 20px 40px;
  box-sizing: border-box;
  margin: 20px 0;

  & .news-article__content {
    padding: 20px 0;
    font-size: 1.2em;
  }
  
  & .news-article__content img {
    max-width: 100%;
  }
  
  & .news-article__header h3 {
    font-size: 1.5em;
  }
  
  & .news-article__summary {
    color: #777;
    padding-bottom: 10px;
  }
  
  & .news-article__details {
    width: 100%;
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
  }
  
  & .news-article__category {
    background-color: var(--category-background-color);
    color: var(--category-foreground-color);
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
  }
  
  & .news-article__date {
    font-size: 0.9em;
    color: var(--date-foreground-color);
    margin-right: 10px;
    font-weight: bold;
  }
}

.news-article__source {
  display: flex;
  margin: 15px 0;
  align-items: center;
  margin-right: 20px;

  & img {
    width: 42px;
    height: 42px;
    border: 1px solid transparent;
    margin-right: 10px;
    border-radius: 5px;
  }

  & a[data-action="delete-source"] {
    width: 48px;
    height: 48px;
    background-color: var(--delete-button-color);
    display: none;
    border: 1px solid transparent;
    border-radius: 48px;
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 5px;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--delete-button-hover-color);
      transition: 0.3s ease-out background-color;
    }
  }

  &:hover a[data-action="delete-source"] {
    display: initial;
  }
}