@import "./partials/animations";
@import "./partials/form";
@import "./partials/navbar";
@import "./partials/news-article";
@import "./partials/resetter";
@import "./partials/toolbar";
@import "./partials/typography";

.dashboard {
  width: 70%;
  margin: 0 15%;

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin: 0%;
  }
}

.container {
  width: 100%;
  margin: 0;
  flex-grow: 1;
}

.feed {
  flex-grow: 2 !important;
  flex-shrink: 0.5;

  & .main-header {
    display: flex;

    & h2,
    & form {
      width: 50%;
    }

    & form {
      min-height: 42px;
      justify-content: flex-end;
      align-self: center;
      justify-self: flex-end;
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;

      & form {
        width: 100%;
        margin: 0;
      }

      & h2 {
        display: none;
      }
    }
  }

  & footer {
    & form {
      justify-content: flex-start;
      align-self: center;
      justify-self: flex-start;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .sources {
    display: none;
  }
}

button[data-action="more-news"] {
  margin: 0 auto;
  display: block;
}
