@import "./partials/*";

.dashboard {
  width: 70%;
  margin: 0 15%;
}

.container {
  width: 100%;
  margin: 0;
  flex-grow: 1;
}

.feed {
  flex-grow: 2 !important;
  flex-shrink: 0.5;

  & .main-header,
  & footer {
    display: flex;

    & h2,
    & form {
      width: 50%;
    }

    & form {
      height: 42px;
      justify-content: flex-end;
      align-self: center;
      justify-self: flex-end;
    }
  }

  & footer {
    & form {
      justify-content: flex-start;
      align-self: center;
      justify-self: flex-start;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .sources {
    display: none;
  }
}
