@import url('https://fonts.googleapis.com/css?family=PT+Serif');

/* Resetter */

html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #333;
  font-size: 16px;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.dashboard {
  display: flex;

}

/* Typography */

.is-large {
  font-size: 2.6em;
}

/* Buttons */

.float-button {
  width: 64px;
  height: 64px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 64px;
  background-color: #ff4236;
  box-shadow: 0 1px 1px 1px #cc342b;
  color: #fff;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  position: fixed;
  bottom: 64px;
  right: 64px;
  text-align: center;
  text-decoration: none !important;
  z-index: 9999;
  transition: 0.3s ease-in background-color;
}

.float-button:hover,
.float-button:focus,
.float-button:active {
  background-color: #cc342b;
  transition: 0.3s ease-out background-color;
  cursor: pointer;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 56px;
  background-color: #444;
  color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.navbar a {
  color: #f6f7fb;
}

.navbar__wrapper {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 15%;
  box-sizing: border-box;
}

.navbar__brand {
  font-size: 0.9em;
  color: inherit;
  text-decoration: none !important;
}

.navbar__nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navbar__nav li {
  margin: 0 20px;
}

/* Container */

.dashboard {
  width: 70%;
  margin: 0 15%;
}

.container {
  width: 100%;
  margin: 0;
  flex-grow: 1;
}

.feed {
  flex-grow: 2 !important;
  flex-shrink: 0.5;
}

@media only screen and (max-width: 1024px) {
  .sources {
    display: none;
  }
}

/* News article */

.news-article {
  box-shadow: 0 0 2px 2px #e7e7e7;
  border-radius: 3px;
  padding: 20px 40px;
  box-sizing: border-box;
  margin: 20px 0;
}

.news-article__content {
  padding: 20px 0;
  font-size: 1.2em;
}

.news-article__content img {
  max-width: 100%;
}

.news-article__header h3 {
  font-size: 1.5em;
}

.news-article__summary {
  color: #777;
  padding-bottom: 10px;
}

.news-article__source {
  display: flex;
  margin: 15px 0;
  align-items: center;
}

.news-article__source img {
  width: 42px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 42px;
  margin-right: 10px;
}

.news-article__details {
  width: 100%;
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
}

.news-article__category {
  background-color: #333;
  color: #f6f7fb;
  border-radius: 3px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
}

.news-article__date {
  font-size: 0.9em;
  color: #777;
  margin-right: 10px;
  font-weight: bold;
}

/* Form */

.inline-form {
  width: 100%;
  padding: 10px 0;
  display: flex;
}

.inline-form input {
  flex-grow: 1;
  min-height: 42px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  font-family: inherit;
}

.inline-form input[type="submit"] {
  min-width: 100px;
  margin-left: 10px;
  flex-grow: 0;
  background-color: #444;
  color: #f8f8f8;
  transition: 0.3s ease-in background-color;
  font-weight: bold;
}

.inline-form input[type="submit"]:hover,
.inline-form input[type="submit"]:focus,
.inline-form input[type="submit"]:active {
  background-color: #222;
  transition: 0.3s ease-out background-color;
}

.source-form {
  width: 70%;
  margin: 0 15%;
}

.error-container {
  width: 70%;
  margin: 0 15%;
  color:#ff4236;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box; 
  font-size: 0.9em;
}