<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#333">

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="/static/icon.png">
  <link rel="manifest" href="/static/manifest.json">

  <title>Koe</title>
</head>
<body>
  <nav class="navbar">
    <section class="navbar__wrapper">
      <header>
        <a href="/" class="navbar__brand"><h1>Koe</h1></a>
      </header>
      <ul class="navbar__nav">
        <li><a href="/">Feed</a></li>
        <li><a href="/">Profile</a></li>
        <li><a href="#" data-action="sign-out">Sign out</a></li>
      </ul>
    </section>
  </nav>

  <section class="toolbar source-form">
      <form class="inline-form" action="/source/new" method="POST">
        <input type="url" name="url" autocomplete="off" placeholder="https://rubyweekly.com" required>
        <button type="submit"><i class="fas fa-plus-circle"></i> Follow</button>
      </form>
      
      <form class="inline-form source-filter">
        <select name="source_id">
          <option value="0" selected>All sources</option>
          {% for source in sources %}
            <option value="{{ source.id }}">{{ source.title }}</option>
          {% endfor %}
        </select>
      </form>
  </section>

  <p class="error-container"></p>

  <div class="dashboard">

    <div class="container sources">
      <section class="row">
        <header>
          <h2 class="is-large"><i class="fas fa-globe"></i> Sources</h2>
        </header>
      </section>
      <section class="row">
        {% for source in sources %}
          <figure class="news-article__source">
            <img src="{{ source['icon_path'] }}" alt="{{ source['title'] }}" aria-hidden="true">
    
            <ficaption>
              <a href="{{ source['uri'] }}" target="_blank">{{ source.title }}</a>
            </figcaption>

            <a data-source-id="{{ source['id'] }}" data-action="delete-source">&times;</i></a>
          </figure>
        {% endfor %}
      </section>
    </div>

    <div class="container feed">
      <section class="row">
        <header class="main-header">
          <h2 class="is-large"><i class="fas fa-rss-square"></i> Feed</h2>
          <form class="inline-form category-filter">
              <select name="category">
                <option value="all" selected>All categories</option>
                <option value="business">Business</option>
                <option value="entertainment">Entertainment</option>
                <option value="politics">Politics</option>
                <option value="tech">Tech</option>
                <option value="sport">Sport</option>
                <option value="health">Health</option>
                <option value="world">World</option>
                <option value="us">US</option>
              </select>
            </form>
        </header>
      </section>
      <section class="row news">
        {% for article in articles %}
          <article class="news-article" data-source-id="{{ article['origin_id'] }}">
            <header class="news-article__header">
              <a href="{{ article['uri'] }}" target="_blank"><h3>{{ article['title'] }}</h3></a>
            </header>
            <footer class="news-article__metadata">
              <figure class="news-article__source">
                <img src="{{ article['icon_path'] }}"
                     alt="{{ article['origin_title'] }}" aria-hidden="true">

                <ficaption>
                  <a href="{{ article['origin_uri'] }}">{{ article['origin_title'] }}</a>

                  <section class="news-article__details">
                    <span class="news-article__date">{{ article['published_at'] }}</span>
                    <span class="news-article__category">{{ article['category'] }}</span>
                  </section>
                </figcaption>
              </figure>
            </footer>
          </article>
        {% endfor %}
      </section>
    </div>

  </div>
</body>

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
<script type="x-tmpl" id="article-template">
  <article class="news-article" data-source-id=":origin_id">
    <header class="news-article__header">
      <a href=":uri" target="_blank"><h3>:title</h3></a>
    </header>
    <footer class="news-article__metadata">
      <figure class="news-article__source">
        <img src=":icon_path"
             alt=":origin_title" aria-hidden="true">

        <ficaption>
          <a href=":origin_uri">:origin_title</a>

          <section class="news-article__details">
            <span class="news-article__date">:published_at</span>
            <span class="news-article__category">:category</span>
          </section>
        </figcaption>
      </figure>
    </footer>
  </article>
</script>
</html>